#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
__NAME__ - __DESCRIPTION__
Autor: __AUTHOR__
"""

def main():
    print("Hola desde __APP__!")
    return 0


if __name__ == "__main__":
    import sys
    sys.exit(main())
