[Desktop Entry]
Type=Application
Name=Influent MAC Address Changer
Name[es]=Disfrazador de direcciones MAC
Comment=Disfraza la mac de tu dispositivo
GenericName=MAC Address Changer for Danenone
Icon=/usr/share/icons/ifmac.png
Exec=ifmac
Terminal=true
Keywords=appearance;desktop;panel;theme;extension;settings;tweak;layout;cube;sp>
Categories=GNOME;GTK;Settings;DesktopSettings;
OnlyShowIn=GNOME;XFCE;
