[Desktop Entry]
Type=Application
Name=Influent Package Maker for Danenone OSEnv
Name[es]=Influent Generador de Paquetes para Danenone Entorno SO
Comment=Generador de paquetes de Influent para Danenone OSEnv
GenericName=Influent Package Maker for Danenone OSEnv
Icon=.\assets\product_logo.png
Exec=packagemaker
Terminal=true
Keywords=appearance;desktop;panel;theme;extension;settings;tweak;layout;cube;sp>
Categories=GNOME;GTK;Settings;DesktopSettings;
OnlyShowIn=GNOME;XFCE;
